<h1>Welcome to the monorepo and micro frontends POC</h1>

<ul>
  <li><a href="" data-test="dashboard-link">Dashboard</a></li>
  <li><a href="" data-test="conclude-link">Conclude links</a>
    <ul>
      <li><a href="" data-test="hotel-link">Hotel</a></li>
      <li><a href="" data-test="flight-link">Flight</a></li>
      <li><a href="" data-test="transfer-link">Transfer</a></li>
    </ul>
  </li>
  <li><a href="" data-test="sales-link">Sales</a>
    <ul>
      <li><a href="" data-test="drafts-link">Drafts</a></li>
      <li><a href="" data-test="quotations-link">Quotations</a></li>
    </ul>
  </li>
  <li><a href="" data-test="customers-link">Customers</a>
    <ul>
      <li><a href="" data-test="customerslist-link">Customers</a></li>
      <li><a href="" data-test="bookings-link">Bookings</a></li>
    </ul>
  </li>
  <li><a href="" data-test="roles-link">Roles</a></li>
  <li><a href="" data-test="help-link">Help</a>
    <ul>
      <li><a href="" data-test="support-link">Support</a></li>
      <li><a href="" data-test="instructions-link">Help</a></li>
    </ul>
  </li>
  <li><a href="" data-test="me-link">Me</a>
    <ul>
      <li><a href="" data-test="profile-link">Profile</a></li>
      <li><a href="" data-test="logout-link">Logout</a></li>
    </ul>
  </li>
</ul>


<div>
  <monorepo-dashboard></monorepo-dashboard>
</div>
