<vaadin-vertical-layout style="align-items: center">
  <vaadin-app-layout>
  <h1 slot="navbar">MyApp</h1>
  <vaadin-tabs slot="navbar" (selected-changed)="itemSelected($event)">
    <vaadin-tab>
      <a tabindex="-1">Dashboard</a>
    </vaadin-tab>
    <vaadin-tab>
      <a tabindex="-1">Conclude links</a>
    </vaadin-tab>
    <vaadin-tab>
      <a tabindex="-1">Sales</a>
    </vaadin-tab>
    <vaadin-tab>
      <a tabindex="-1">Customers</a>
    </vaadin-tab>
    <vaadin-tab>
      <a tabindex="-1">Roles</a>
    </vaadin-tab>
    <vaadin-tab>
      <a tabindex="-1">Help</a>
    </vaadin-tab>
  </vaadin-tabs>
</vaadin-app-layout>

  <router-outlet></router-outlet>
</vaadin-vertical-layout>
